<hr>
  {{> navbar}}
<hr>
<h2>Signup</h2>

<div id="signup-form"></div>
<form class="form-boxed" id="form" action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username"><br>

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="********"><br>

  <label for="email">Email</label>
  <input type="email" name="email" placeholder="firstname.lastname@domain.com"><br>

  <button type="submit">Create account</button>
</form>
</div>
{{#if errorMessageSignup}}
<a>{{ errorMessageSignup }}</a>
{{/if}}
<a href="/">Back to startpage</a>