<nav>
    <div class="nav-main"> 
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
      <a href="/recipes">Show all Recipes</a>
      <a href="/my-recipes">My Recipes</a>
    </div>
      {{#if condition}}
    <div class="nav-res">
      <a href="/add-recipes">Create a new Recipe</a>
    </div>
      {{/if}}
    <div class="nav-search">
      <form action="/search-recipes" method="get">
      <input type="text" name="title" placeholder="Search a recipe by title">
      <button type="submit">Search recipe by title</button>
    </form>

    </div>
</nav>