<nav>
    <div class="nav-main"> 
      <a href="/recipes">Show all Recipes</a>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
      <a href="/my-recipes">Recipes</a>
    </div>
      {{#if condition}}
    <div class="nav-res">
      <a href="/add-recipes">Create a new Recipe</a>
    </div>
      {{/if}}
</nav>