<nav class="">
      <a class="" href="/recipes">Show all Recipes</a>
      <a class="" href="/signup">Signup</a>
      <a class="" href="/login">Login</a>
      <a class="" href="/logout">Logout</a>
      <a class="" href="/my-recipes">Recipes</a>
      {{#if condition}}
      <a class="" href="/add-recipes">Create a new Recipe</a>
      <a class="" href="/edit-recipes">Edit your own Recipe</a>
      <a class="" href="/delete-recipes">Delete your Recipe</a>
      {{/if}}
</nav>