<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji&display=swap" rel="stylesheet">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>{{title}}</h1>
  <hr>
  <nav class="">
      <a class="" href="/recipes">Show all Recipes</a>
      <a class="" href="/signup">Signup</a>
      <a class="" href="/login">Login</a>
      <a class="" href="/logout">Logout</a>
      <a class="" href="/my-recipes">Recipes</a>
  </nav>
  <hr>


  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>