html {
  background: url("/images/Drink-Menu-Background.jpg") no-repeat;
  background-size: cover;
}
body {
  background-size: cover;
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: white;
}
a {
  font-family: 'Baloo Paaji', cursive;
  color: rgb(15, 200, 240);
  margin: 0 5px;
  text-decoration: none;
}
a:hover, a:active {
  color: rgb(5, 160, 195)
}

hr {
  border-top: 1px dotted fuchsia;
}
h1 {
  text-align: center;
  font-family: 'Baloo Paaji', cursive;
  letter-spacing: 1px;
  font-size: 40px;
  color: fuchsia;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.5em rgb(15, 200, 240);
}
.err {
  color: red;
}
h2 {
  text-align: left;
  font-size: 24px;
  letter-spacing: 1px;
}

p {
  color: white;
}

ul {
  list-style-type: none;
}

.list-cocktails {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-res {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.show-coctails {
  background: rgba(0, 0, 0, 0.6);
  min-width:400px;
  max-width:400px;
  padding:10px;
  margin:10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgb(15, 200, 240);
}
.form-boxed {
  background: rgba(0, 0, 0, 0.6);
  min-width:400px;
  max-width:600px;
  padding:10px;
  margin:10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgb(15, 200, 240);
}
.recipe-form {
  max-width:1000px;
}

#signup-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

textarea, input[type="text"], [type="number"], [type="password"], [type="email"], [type="url"] {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  box-shadow: 0 0 1px 0 rgb(15, 200, 240);
  border-radius: 6px;
  margin: 2px 0;
  padding-left: 10px;
}
textarea:hover, input[type="text"]:hover, [type="number"]:hover, [type="password"]:hover, [type="email"]:hover, [type="url"]:hover{
  background-color: rgba(31, 31, 31, 0.9);
}
textarea:hover, input[type="text"]:focus, [type="number"]:focus, [type="password"]:focus, [type="email"]:focus, [type="url"]:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.9);
}
input[type="radio"] {
  transform: scale(1.5);
  margin: 2px 4px;
  cursor: pointer;
}

button {
  display: inline-block;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 rgb(15, 200, 240);
  padding: 1px 3px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}
button:hover {
  background-color: rgba(31, 31, 31, 0.8);
}
button:focus {
  outline: none;
}