<h1>Create a new recipe</h1>

<form id="new-recipe-form" class="recipe-form" action="/recipes/create-recipes" method="post">
        <div class="title">
          <label for="title">Title: </label><br>
          <input type="text" name="title" placeholder="title">
        </div>
        <div class="rating">
          <label for="rating">Choose a Rating: </label><br>
          <input type="radio" name="rating" value="simple">simple</input>
          <input type="radio" name="rating" value="regular">regular</input>
          <input type="radio" name="rating" value="tough">tough</input>
        </div>
        <div class="servings">
          <label for="servings">Servings: </label><br>
          <input type="number" name="servings" placeholder="servings">
        </div>
         <div class="ingredients">
          <label for="ingredients">Ingredients: </label><br>
          <textarea type="text" name="ingredients" cols="30", rows="10" placeholder="Enter Ingredients(separate by commas)"></textarea>
        </div>
        </div>
         <div class="description">
          <label for="description">Description: </label><br>
          <textarea type="text" name="description" cols="30", rows="10" placeholder="short description"></textarea>
        </div>
        </div>
         <div class="imageUrl">
          <label for="imageUrl">ImageUrl: </label><br>
          <input type="url" name="imageUrl" placeholder="add a picture">
        </div>
        <button type="submit" id="submit">Create recipe</button>
</form>
<hr>
{{#if errorMessageCreate }}
    <p>{{ errorMessageCreate }}</p>
  {{/if}}