<hr>
  {{> navbar}}
<hr>
<h1>Here you can delete your recipe</h1>

    <label for="">title</label>
    <input type="text" name="title" id="" value="{{cocktail.title}}">
      <form action="/recipes/{{cocktail._id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>

  
 
