      <hr>
<div class="navbar">
  {{> navbar}}
</div>
<hr>
      <h2>my recipes</h2>
      <!--<a class="" href="/add-recipes">Create a new Recipe</a>
      <a class="" href="/edit-recipes">Edit your own Recipe</a>
      <a class="" href="/delete-recipes">Delete your Recipe</a>
      {{#if condition}}
        <a class="" href="/logout">Logout</a>
        <a class="" href="/my-recipes">Recipes</a>
      {{/if}}-->