<hr>
  {{> navbar}}
<hr>

<p>This recipes are posted by: <b> {{ recipes.0.owner.username }} </b></p>
<div>
      {{#each recipes}}
<hr>
<h3>Title:</h3>
<p> {{ this.title }}</p>
<hr>
<form action="/edit/{{this.id}}/recipes" method="POST">
<button type="submit">Edit your own Recipe</button></a>
</form>
<form action="/delete/{{this._id}}/recipes" method="POST">
<button type="submit">Delete your Recipe</button>
</form>
      {{/each}}
</div>
<br>
<br>
       <a class="" href="/add-recipes">Create a new Recipe</a>

