<hr>
{{> navbar}}
<hr>
<p>This recipes are posted by: <b> {{ recipes.0.owner.username }} </b></p>
<hr>
<div class="list-cocktails">
      {{#each recipes}}
      <div class="show-coctails">
            <h3>Title: {{ this.title }}</h3>
            <form action="/edit/{{this.id}}/recipes" method="POST">
                  <button type="submit">Edit your own Recipe</button></a>
            </form>
            <form action="/delete/{{this._id}}/recipes" method="POST">
                  <button type="submit">Delete your Recipe</button>
            </form>
      </div>
      {{/each}}
</div>