<hr>
  {{> navbar}}
<hr>

<p>This recipes are posted by: <b> {{ recipes.0.owner.username }} </b></p>
<div>
      {{#each recipes}}
<hr>
<h3>Title:</h3>
<p> {{ this.title }}</p>
<hr>
<a class="" href="/edit-recipes"><button>Edit your own Recipe</button></a>
<a class="" href="/delete-recipes"><button>Delete your Recipe</button></a>
      {{/each}}
</div>
<br>
<br>
       <a class="" href="/add-recipes">Create a new Recipe</a>
